html {
    border-top: 3px solid #a7bb61;
}

body {
    font-family: Helvetica, Roboto, Arial, sans-serif, serif;
    font-weight: 300;
    word-wrap: break-word;
    font-size: 16px;
}

a {
    cursor: pointer;
    color: #70d0e9;
}

header {
    margin-top: 2em;
    text-align: center;
}

.mainTitle img {
    width: 300px;
}

section {
    padding: 20px 0;
}

section .sectionContainer {
    margin: 0 auto;
    width: 900px;
}

section.odd {
    background-color: #f8f8f9;
}

section h2 {
    display: block;
    font-size: 1.4em;
    font-weight: 700;
    font-family: Lekton;
}

section .albumPhoto {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: flex-start;
    margin: 0;
    padding: 0;
}

section .albumPhoto li {
    flex: 1 45%;
}

section .albumPhoto li img {
    width: 98%;
}

footer {
    font-size: .8em;
    text-align: center;
    color: #9d9da3;
    padding: 20px 0;
}

footer a {
    color: #525758;
    text-decoration: none;
}

footer p {
    margin-bottom: .1em;
}